a {
  text-decoration: none;
}

a:visited {
  color:inherit;
}

ul li {
  list-style: none;
  display: inline;
  border: 1px solid pink;
  padding: 10px;
}

.text:hover {
  color: green;
}

.background:hover {
  background: red;
}

.grow {

}
