<div>
  <div class="headline">
    <h1>Asteroids are going to destroy us all!</h1>
    <h2>What do you have to say?</h2>
  </div>
  <div class="directions">
    <p>Pick a 7 day timespan to tell those damn asteroids what you think.</p>
    <div class="inputs"><input type="date" name="from" placeholder="YYYY-MM-DD">
    <input type="date" name="to" placeholder="YYYY-MM-DD">
    <button id="enter" type="button" name="input">Enter</button></div>
  </div>
  <div id="output"></div>
</div>
