doctype html
html
  head
    meta(charset='utf-8')
    title Exercise 25
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 Bakkerij van Nashville
    include nav
    block content
